<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
<dict>
	<key>fileTypes</key>
	<array>
		<string>hy</string>
	</array>
	<key>name</key>
	<string>Hydrogen</string>
	<key>patterns</key>
	<array>
		<dict>
			<key>include</key>
			<string>#punctuation</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#comment</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#keyword</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#operator</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#number</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#function</string>
		</dict>
		<dict>
			<key>include</key>
			<string>#variable</string>
		</dict>
	</array>
	<key>repository</key>
	<dict>
		<key>punctuation</key>
		<dict>
			<key>name</key>
			<string>punctuation.hy</string>
			<key>match</key>
			<string>[();{}]</string>
		</dict>
		<key>comment</key>
		<dict>
			<key>patterns</key>
			<array>
				<dict>
					<key>name</key>
					<string>comment.hy</string>
					<key>begin</key>
					<string>/\*</string>
					<key>end</key>
					<string>\*/</string>
				</dict>
				<dict>
					<key>name</key>
					<string>comment.hy</string>
					<key>match</key>
					<string>//.*</string>
				</dict>
			<array>
		</dict>
		<key>keyword</key>
		<dict>
			<key>name</key>
			<string>keyword.hy</string>
			<key>match</key>
			<string>\b(?:elif|else|if|let)\b</string>
		</dict>
		<key>operator</key>
		<dict>
			<key>name</key>
			<string>keyword.operator.hy</string>
			<key>match</key>
			<string>[%*+\-/=]</string>
		</dict>
		<key>number</key>
		<dict>
			<key>name</key>
			<string>constant.numeric.hy</string>
			<key>match</key>
			<string>\b\d+\b</string>
		</dict>
		<key>function</key>
		<dict>
			<key>name</key>
			<string>support.function.hy</string>
			<key>match</key>
			<string>\bexit\b</string>
		</dict>
		<key>variable</key>
		<dict>
			<key>name</key>
			<string>variable.hy</string>
			<key>match</key>
			<string>\b[0-9A-Z_a-z]+\b</string>
		</dict>
	</dict>
	<key>scopeName</key>
	<string>source.hy</string>
	<key>uuid</key>
	<string>F816FA69-6EE8-11D9-BF2D-000D93589AF6</string>
</dict>
</plist>